<footer class="bg-white">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-10 lg:px-8">
    <nav
      class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
      aria-label="Footer"
    >
      <div class="pb-6">
        <a
          href="https://docs.warewulf.org"
          class="text-sm uppercase leading-6 text-gray-600 hover:text-gray-900"
          >Documentation</a
        >
      </div>
      <div class="pb-6">
        <a
          href="/support"
          class="text-sm uppercase leading-6 text-gray-600 hover:text-gray-900"
          >Support</a
        >
      </div>
      <div class="pb-6">
        <a
          href="/charter"
          class="text-sm uppercase leading-6 text-gray-600 hover:text-gray-900"
          >Project Charter</a
        >
      </div>
      <div class="pb-6">
        <a
          href="/contact-us"
          class="text-sm uppercase leading-6 text-gray-600 hover:text-gray-900"
          >Contact Us</a
        >
      </div>
    </nav>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">
      Copyright © The Warewulf Project. All rights reserved.
    </p>
  </div>
</footer>
