---
import Layout from "@layouts/Layout.astro";

import Cta from "@components/Shared/Cta.astro";

import Hero from "@components/Home/Hero.astro";
import Features from "@components/Home/Features.astro";
---

<Layout title="Warewulf - The Next-Gen Cluster Management Solution">
  <main>
    <Hero />
    <Features />
    <Cta />
  </main>
</Layout>
