<div class="bg-white pb-24 sm:pb-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900 uppercase">
            Scalable
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Warewulf enables the management of large-scale Linux clusters,
            demonstrating immense scalability across multiple facilities. It's
            ideal for environments ranging from small computer labs to massive
            supercomputing centers.
          </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900 uppercase">
            Stateless Provisioning
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Pioneering the concept of stateless computing in HPC, Warewulf
            provides straightforward and flexible OS management, supporting
            large-scale deployments on physical, virtual, and cloud
            infrastructures.
          </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900 uppercase">
            Modular & Extensible
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            With its object-oriented design, Warewulf offers a modular approach,
            allowing for customization and integration of various features such
            as monitoring, power management, and configuration management.
          </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900 uppercase">
            Simple and Lightweight
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Warewulf is designed to be user-friendly for a diverse range of
            users including hobbyists, scientists, and system administrators. It
            maintains a lightweight profile, integrating seamlessly without
            altering underlying systems.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
